.gymimg {
  background-image: url("../img/gym.jpg");
  height: 90vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  > div {
    display: flex;
    justify-content: space-between;
  }
  > div > h2 {
    color: orange;
    font-family: cursive;
    font-size: 50px;
    display: inline-block;
    margin: 0;
    padding: 10px;
  }
}

.iconDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 135px;
  align-items: flex-end;
  position: sticky;
}

.icons {
  background-color: orange;
  border-radius: 30%;
  margin-right: 5px;
  margin-top: 15px;
}

.spanDownloadBooklet {
  color: white;
  max-width: 60%;
  padding: 25px;
  font-size: 30px;
  margin: auto;
  text-align: center;
  display: flex;
flex-direction: column;  
}

.trainers {
  height: 65vh;
  display: flex;
  flex-direction: column;
}

.trainersSection1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  > h2 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 0;
  }
  >p{    margin-bottom: 40px;
  }
}

.trainersSection2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.trainerinfo {
  > img {
    max-height: 200px;
    border-radius: 5px;
  }
}
.mainDivContactSection {
  background-color: black;
  height: 400px;
  display: flex;

  align-items: center;
  justify-content: center;
}
.contactSection {
  height: 300px;
  width: 350px;
  padding: 10px;
  color: black;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > input {
    width: 200px;
  }
}
